<header class="main-nav">
	<nav class="left-nav">
		<ul class="nav-section-search">
			<li id="sections-sidebar-btn">
				<i class="fa fa-bars"></i>
				<span>sections</span>
			</li>
			<li id="search-modal-btn">
				<i class="fa fa-search"></i>
				<span>search</span>
			</li>
		</ul>
	</nav>

	<nav class="right-nav">
	<ul class="nav-section-login">
		<li id="subscribe-now">SUBSCRIBE NOW</li>
		<li id="login">LOG IN</li>
	<div class="dropdown">
		<li><i id="gear-dropdown-btn" class="fas fa-cog">
		
		<%= render partial: 'shared/gear_dropdown' %>
		
		</i>
	<div class="hidden">
<!--	<div class="hidden dropdown_content"> -->
	<!-- <ul>
		<p class="edition">EDITION</p>
			<li class="dropdown-list">CSS</li>
			<li class="dropdown-list">HTML</li>
			<li class="dropdown-list">JAVASCRIPT</li>
			<li class="dropdown-list">RUBY</li>
			<p class="help" >HELP</p>
			<li class="link">FAQ</li>
			<li class="link">Contact Us</li>
	
	</ul> -->

	</div>
	</div>
	</li>
	</ul>
	</nav>
	
</header>




