
<div class="masthead">

  <div class="language-nav">
  <ul >
  <li> <a href="www.facebook.com"> CSS </a></li>
  <li> <a href=""> HTML </a></li>
  <li> <a href=""> Javascript </a></li>
  <li> <a href=""> Ruby </a></li>
  </ul>
  </div>




  <img class="logo" src="<%= asset_path('AA_Times_Logo.png')%>" alt="">


  <div >
  <ul class="masthead-links">
  <li><time>Tuesday, October 18, 2016</time></li>
  <li><i class="far fa-newspaper"></i> <a href="">Today’s Paper</a>   </li>
  <li><i class="fas fa-video"></i> <a href="">Video</a></li>
  <button>77°F</button>
  <button> AAO <strong>+100%</strong></button>
  </ul>
  
  
  
  
  </p>
  </div>



</div>

