
<div>
  <ul class='section-list'>
    <li> World </li>
    <li> San Francisco </li>
    <li> New Yory </li>
    <li> Bootcamp Prep </li>
    <li> Jumpstart </li>
    <li> Online </li>
    <li> Marketing </li>
    <li> Sales </li>
    <li> Alumni </li>
    <p class='all'> All </p>
  </ul>
</div>